{% extends "base.html" %} {% load static %} {% load active_link_tags %}
<!-- HTML HEAD CONTENTS -->
{% block htmlhead %}

<link rel="stylesheet" href="{% static 'css/admin/add_payment.css' %}" />

{% endblock htmlhead %} {% block content %}

<!-- HEADER -->
{% include "header.html" %}

<!-- TEACHER'S ADD PAYMENT TABLE -->
<div class="teachers-add-payment-table">
  <h3>Add Payments</h3>
  <table>
    <thead>
      <tr>
        <th style="text-align: center">Employee ID.</th>
        <th>Name of the Teacher</th>
        <th style="text-align: center">Bank Account No.</th>
        <th style="text-align: center">IFSC Code</th>
        <th style="text-align: center">Action</th>
      </tr>
    </thead>

    <tbody>
      {% for teacher in teachers %}
      <tr>
        <td style="text-align: center">1111</td>
        <td>{{ teacher.admin.first_name }} {{ teacher.admin.last_name }}</td>
        <td style="text-align: center">{{ teacher.account_no }}</td>
        <td style="text-align: center">{{ teacher.ifsc }}</td>
        <td
          style="
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          "
        >
          <a
            href="{% url 'pay' teacher.id %}"
            >Add Payment</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
