{% extends "base.html" %} {% load static %}
<!-- HTML HEAD CONTENTS -->
{% block htmlhead %}

<link rel="stylesheet" href="{% static 'css/admin/edit_teacher.css' %}" />

{% endblock htmlhead %} {% block content %}

<!-- HEADER -->
{% include "header.html" %}


<!-- MESSAGES DIALOG -->
{% include 'messages.html' %}

<!-- EDIT TEACHER -->
<div class="edit-teacher">
  <h3>Edit teacher</h3>

  <form
    action="{% url 'update_teacher' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <!-- This input will fetch "id" of the teacher for updating the teacher's records -->
    <input
      type="text"
      name="teacher_id"
      id="teacher_id"
      value="{% for i in teacher %}{{ i.admin.id }}{% endfor %}"
      hidden
    />
    <!-- -------------------------------- -->

    <div class="input-group">
      <label for="fname">Firstname</label>
      <input
        type="text"
        name="fname"
        id="fname"
        value="{% for i in teacher %}{{ i.admin.first_name }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="lname">Lastname</label>
      <input
        type="text"
        name="lname"
        id="lname"
        value="{% for i in teacher %}{{ i.admin.last_name }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        value="{% for i in teacher %}{{ i.admin.username }}{% endfor %}"
        readonly
      />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        value="{% for i in teacher %}{{ i.admin.password }}{% endfor %}"
      />
    </div>

    <div class="input-group" style="width: 100%">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        value="{% for i in teacher %}{{ i.admin.email }}{% endfor %}"
        readonly
      />
    </div>


    <div class="input-group" style="width: 100%">
        <label for="qualification">Qualification</label>
        <textarea name="qualification" id="qualification" cols="10" rows="1">{% for i in teacher %}{{ i.qualification }}{% endfor %}</textarea>
    </div>

    <div class="input-group">
      <label for="sex">Sex</label>
      <select name="sex" id="sex">
        <option value="hidden" selected disabled hidden>Choose sex</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="None">Prefer not to say</option>
      </select>
    </div>

    <div class="input-group">
      <label for="dob">Date of birth</label>
      <input
        type="date"
        name="dob"
        id="dob"
        value="{% for i in teacher %}{{ i.dob }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="mobilenumber">Mobile number</label>
      <input
        type="tel"
        name="mobilenumber"
        id="mobilenumber"
        value="{% for i in teacher %}{{ i.mobile_no }}{% endfor %}"
      />
    </div>

    <div class="input-group">
        <label for="pan">PAN number</label>
        <input
          type="text"
          name="pan"
          id="pan"
          value="{% for i in teacher %}{{ i.pan_no }}{% endfor %}"
        />
      </div>

    <div class="input-group">
      <label for="aadhaar">AADHAAR number</label>
      <input
        type="number"
        name="aadhaar"
        id="aadhaar"
        value="{% for i in teacher %}{{ i.aadhaar_no }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="villtown">Vill/Town</label>
      <input
        type="text"
        name="villtown"
        id="villtown"
        value="{% for i in teacher %}{{ i.vill_town }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="postoffice">Post office</label>
      <input
        type="text"
        name="postoffice"
        id="postoffice"
        value="{% for i in teacher %}{{ i.post_office }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="policestation">Police station</label>
      <input
        type="text"
        name="policestation"
        id="policestation"
        value="{% for i in teacher %}{{ i.police_station }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="district">District</label>
      <input
        type="text"
        name="district"
        id="district"
        value="{% for i in teacher %}{{ i.district }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="state">State</label>
      <input
        type="text"
        name="state"
        id="state"
        value="{% for i in teacher %}{{ i.state }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="country">Country</label>
      <input
        type="text"
        name="country"
        id="country"
        value="{% for i in teacher %}{{ i.country }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="pin">PIN</label>
      <input
        type="number"
        name="pin"
        id="pin"
        value="{% for i in teacher %}{{ i.pin }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="bankname">Bank name</label>
      <input
        type="text"
        name="bankname"
        id="bankname"
        value="{% for i in teacher %}{{ i.bank_name }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="accountnumber">Account number</label>
      <input
        type="number"
        name="accountnumber"
        id="accountnumber"
        value="{% for i in teacher %}{{ i.account_no }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="branchname">Branch name</label>
      <input
        type="text"
        name="branchname"
        id="branchname"
        value="{% for i in teacher %}{{ i.branch_name }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="ifsc">IFSC Code</label>
      <input
        type="text"
        name="ifsc"
        id="ifsc"
        value="{% for i in teacher %}{{ i.ifsc }}{% endfor %}"
      />
    </div>

    <div class="input-group">
      <label for="photo">Upload teacher's photo</label>
      <input
        type="file"
        name="photo"
        id="photo"
        accept="image/jpg, image/jpeg"
        value="{% for i in teacher %}{{ i.admin.profile_pic }}{% endfor %}"
      />
      <small
        style="
          padding-top: 0.3rem;
          font-size: 0.671rem;
          color: red;
          text-align: left;
        "
        >Note: JPG/JPEG only (50KB - 100KB)</small
      >
    </div>

    <div class="input-group">
      <label for="certificate">Upload CV/Resume</label>
      <input
        type="file"
        name="certificate"
        id="certificate"
        accept=".pdf, .docx"
        value="{% for i in teacher %}{{ i.cv_resume }}{% endfor %}"
      />
      <small
        style="
          padding-top: 0.3rem;
          font-size: 0.671rem;
          color: red;
          text-align: left;
        "
        >Note: PDF/DOCX only (50KB - 100KB)</small
      >
    </div>

    <button type="submit">Save changes</button>
  </form>
</div>

<!-- <script src="{% static 'js/students.js' %}" type="text/javascript"></script> -->

{% endblock %}
