{% load static %} {% load active_link_tags %}
<!-- HTML HEAD CONTENTS -->
{% block htmlhead %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />

{% endblock htmlhead %} {% block content %}

<!-- SIDEBAR -->
<nav>
  <!-- App Logo -->
  <div class="logo">
    <div class="icon">
      <span class="material-symbols-rounded"> nutrition </span>
    </div>

    <div class="name">
      <h3>SchMgSoft</h3>
      <p>
        by
        <a href="https://threedot.in/" target="_blank" rel="noopener noreferrer"
          >ThreeDot.</a
        >
      </p>
    </div>
  </div>

  <span class="divider"></span>

  <!-- NAVBAR ITEMS -->
  {% if user.user_type == '1' %}
  <div class="navbar">
    <!-- Home section -->
    <div class="navbar-group">
      <p class="title">HOME</p>

      <!-- Dashboard -->
      <div class="links {% active_link 'admin_home' 'active' %}">
        <a href="{% url 'admin_home' %}">
          <span class="material-symbols-rounded"> dashboard </span>
          Dashboard
        </a>
      </div>
    </div>

    <!-- Academics section -->
    <div class="navbar-group">
      <p class="title">ACADEMICS</p>

      <!-- Students -->
      <div class="links {% active_link 'students' 'active' %}">
        <a href="{% url 'students' %}">
          <span class="material-symbols-rounded"> groups </span>
          Students
        </a>
      </div>

      <!-- Teachers -->
      <div class="links {% active_link 'teachers' 'active' %}">
        <a href="{% url 'teachers' %}">
          <span class="material-symbols-rounded"> group </span>
          Teachers
        </a>
      </div>
    </div>

    <!-- Staff section -->
    <div class="navbar-group">
      <p class="title">STAFF-MANAGEMENT</p>

      <!-- Teaching Staff -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> engineering </span>
          Teaching
        </a>
      </div>

      <!-- Non-Teaching Staff -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> business_center </span>
          Non-teaching
        </a>
      </div>
    </div>

    <!-- Finance section -->
    <div class="navbar-group">
      <p class="title">FINANCE</p>

      <!-- Student's Fee -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> paid </span>
          Fee
        </a>
      </div>

      <!-- Salary -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> wallet </span>
          Salary
        </a>
      </div>
    </div>

    <!-- Examination board section -->
    <div class="navbar-group">
      <p class="title">EXAM BOARD</p>

      <!-- Results -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> assignment </span>
          Results
        </a>
      </div>
    </div>

    <span class="divider"></span>

    <!-- Others section -->
    <div class="navbar-group">
      <p class="title">OTHERS</p>

      <!-- Settings -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> settings </span>
          Settings
        </a>
      </div>
    </div>
  </div>

  {% elif user.user_type == '2' %}
  <div class="navbar">
    <!-- Home section -->
    <div class="navbar-group">
      <p class="title">HOME</p>

      <!-- Dashboard -->
      <div class="links {% active_link 'teacher_home' 'active' %}">
        <a href="{% url 'teacher_home' %}">
          <span class="material-symbols-rounded"> dashboard </span>
          Dashboard
        </a>
      </div>
    </div>

    <!-- Academics section -->
    <div class="navbar-group">
      <p class="title">ACADEMICS</p>

      <!-- Attendance -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> ballot </span>
          Attendance
        </a>
      </div>

      <!-- Assignment -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> assignment_add </span>
          Assignment
        </a>
      </div>

      <!-- Upload Study Materials -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> file_present </span>
          Study Materials
        </a>
      </div>
    </div>

    <!-- Examination board section -->
    <div class="navbar-group">
      <p class="title">EXAM BOARD</p>

      <!-- Upload Marks -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> fact_check </span>
          Upload Marks
        </a>
      </div>
    </div>

    <!-- Management section -->
    <div class="navbar-group">
      <p class="title">MANAGEMENT</p>

      <!-- Leave Apply -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> history_edu </span>
          Leave Apply
        </a>
      </div>
    </div>

    <span class="divider"></span>

    <!-- Others section -->
    <div class="navbar-group">
      <p class="title">OTHERS</p>

      <!-- Settings -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> settings </span>
          Settings
        </a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="navbar">
    <!-- Home section -->
    <div class="navbar-group">
      <p class="title">HOME</p>

      <!-- Dashboard -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> dashboard </span>
          Dashboard
        </a>
      </div>
    </div>

    <!-- Academics section -->
    <div class="navbar-group">
      <p class="title">ACADEMICS</p>

      <!-- Attendance -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> ballot </span>
          Attendance
        </a>
      </div>

      <!-- Assignment -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> assignment </span>
          Assignment
        </a>
      </div>

      <!-- Study Materials -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> book </span>
          Study Materials
        </a>
      </div>
    </div>

    <!-- Examination board section -->
    <div class="navbar-group">
      <p class="title">EXAM BOARD</p>

      <!-- View Marks -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> fact_check </span>
          View Marks
        </a>
      </div>
    </div>

    <!-- Management section -->
    <div class="navbar-group">
      <p class="title">MANAGEMENT</p>

      <!-- Leave Apply -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> history_edu </span>
          Leave Apply
        </a>
      </div>
    </div>

    <span class="divider"></span>

    <!-- Others section -->
    <div class="navbar-group">
      <p class="title">OTHERS</p>

      <!-- Settings -->
      <div class="links">
        <a href="">
          <span class="material-symbols-rounded"> settings </span>
          Settings
        </a>
      </div>
    </div>
  </div>
  {% endif %}
</nav>

{% endblock %}
