{% load static %}
<!-- HTML HEAD CONTENTS -->
{% block htmlhead %}

<link rel="stylesheet" href="{% static 'css/time.css' %}" />

{% endblock htmlhead %} {% block content %}

<!-- TIME : HOMEPAGE - DASHBOARD -->
<!-- Homepage : Time -->
<div id="time-container">
  <div class="time">
    <p class="hour"></p>
  </div>

  <div class="time">
    <img src="{% static 'assets/icons/colon.svg' %}" alt="Time-divider" />
    <!-- <p>:</p> -->
  </div>

  <div class="time">
    <p class="minute"></p>
  </div>

  <div class="time">
    <img src="{% static 'assets/icons/colon.svg' %}" alt="Time-divider" />
    <!-- <p>:</p> -->
  </div>

  <div class="time">
    <p class="second"></p>
  </div>
</div>

<script src="{% static 'js/time.js' %}" type="text/javascript"></script>

{% endblock %}
