/* VARIABLES */
:root {
  --lightest: #e3f7ae;
  --lighter: #d5f285;
  --light: #c7ee5c;
  --normal: #abe60b;
  --dark: #8ec009;
  --darker: #729907;
  --darkest: #567306;
  --dark-bg: #222e02;
  --light-bg: #f8ffe6;
  --dark-txt: #0c1001;
  --light-txt: #919191;
}

/* TEACHER ALLOTMENT */
.teacher-allotment {
  padding: 0.5rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.teacher-allotment h3 {
  font-size: 1.351rem;
  font-weight: 500;
  color: var(--dark-txt);
}

.teacher-allotment form {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
  border: 1px solid var(--light-bg);
  border-radius: 0.3rem;
}

.teacher-allotment form .selections {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
   flex-wrap: wrap; 
   align-items: center;
   justify-content: space-between;
  }

.teacher-allotment form .selections .input-group {
  position: relative;
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: start;
  justify-content: center;
 /* flex-wrap: wrap; 
 align-items: center;
 justify-content: space-between; */
}

.teacher-allotment form .selections .input-group select {
  width: 100%;
  padding: 0.7rem;
  background-color: #fff;
  border: 1px solid var(--light);
  border-radius: 0.3rem;
  outline: none;
}

.teacher-allotment form .selections .input-group select:focus {
  border: 1px solid var(--dark);
  caret-color: var(--dark);
}

.teacher-allotment form button {
  padding: 0.7rem 1.5rem;
  width: fit-content;
  background-color: var(--dark);
  color: #fff;
  font-size: 0.931rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.teacher-allotment form button:hover {
  background-color: var(--normal);
  color: #000;
  cursor: pointer;
}

/* ALLOTTED TEACHERS LIST */
.teacher-allotted-list {
  padding: 1rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
}

.teacher-allotted-list h3 {
  font-size: 1.351rem;
  font-weight: 500;
  color: var(--dark-txt);
}

table {
  width: 100%;
}

table thead {
  background-color: var(--lighter);
}

table thead th {
  padding: 0.5rem;
  font-size: 0.931rem;
  font-weight: 500;
  text-align: left;
}

table thead th:first-child {
  border-top-left-radius: 0.3rem;
}

table thead th:last-child {
  border-top-right-radius: 0.3rem;
}

table tbody tr:nth-child(even) {
  background-color: var(--light-bg);
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.3rem;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.3rem;
}

table tbody tr td {
  padding: 0.3rem 0.5rem;
  font-size: 0.891rem;
}

table tbody tr td a {
  padding: 0.3rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--dark);
  border-radius: 0.3rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

table tbody tr td a span {
  font-size: 0.931rem;
}

table tbody tr td a:link,
table tbody tr td a:visited,
table tbody tr td a:active,
table tbody tr td a:hover {
  color: #fff;
  font-size: 0.891rem;
  font-weight: 500;
}

table tbody tr td a:hover {
  color: #000;
  background-color: var(--normal);
  cursor: pointer;
}
